extends layout

block content
  block pageTitle
  h1= title
  h3= subTitle

  h4 Overall
  p This site was the brainchild of Brandi for approximately 1 million years before her friend with no life decided to make a web application for it.

  h4 Brandi
  p Brandi is a self-described "hobby-collector" who manages to find interest in almost everything. She wanted to share her wealth of hobby knowledge with the world.

  h4 John
  p John is a no-lifer who enjoys sitting at bars with his laptop and making stupid things like this site.

